<header>
  <div class="banners">
    <div class="banner banner-1 active anime">
      <img
        class="img"
        src="https://images.pexels.com/photos/1690739/pexels-photo-1690739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="img banner"
      />
    </div>

    <div class="banner banner-3">
      <img
        class="img"
        src="https://images.pexels.com/photos/1697887/pexels-photo-1697887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="img banner"
      />
    </div>

    <div class="banner banner-4">
      <img
        class="img"
        src="https://images.pexels.com/photos/1690379/pexels-photo-1690379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="img banner"
      />
    </div>
    <div class="banner banner-3">
      <img
        class="img"
        src="https://images.pexels.com/photos/1697887/pexels-photo-1697887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="img banner"
      />
    </div>
  </div>
</header>
