<div class="section">
  <h1>main page</h1>
  <!-- <router-outlet></router-outlet> -->
</div>
<!-- <app-team-page></app-team-page> -->
<!-- <app-animated-cards></app-animated-cards> -->
<!-- <app-poster-card></app-poster-card> -->
<!-- <app-error-page></app-error-page> -->
<!-- <app-portfolio></app-portfolio> -->
<!-- <app-cta></app-cta> -->
<!-- <app-contact-us></app-contact-us> -->
<app-bar></app-bar>
<!-- <app-slide-banner></app-slide-banner> -->
<!-- <app-pic-banner></app-pic-banner> -->
<!-- <app-contact-page-with-map></app-contact-page-with-map> -->
<!-- <app-vertical-tabs></app-vertical-tabs> -->
<!-- <app-autoplay-slider></app-autoplay-slider> -->
<!-- <app-video-slider></app-video-slider> -->
