<div class="contact">
  <h2>Contact Us</h2>
  <div class="box">
    <div class="contact form">
      <h1>send a message</h1>
      <form>
        <div class="formBox">
          <div class="row50">
            <div class="inputBox">
              <span>First Name</span>
              <input type="text" placeholder="suman" />
            </div>
            <div class="inputBox">
              <span>Last Name</span>
              <input type="text" placeholder="gill" />
            </div>
          </div>
          <div class="row50">
            <div class="inputBox">
              <span>Email</span>
              <input type="text" placeholder="sumangill@gamil.com" />
            </div>
            <div class="inputBox">
              <span>Mobile</span>
              <input type="text" placeholder="" />
            </div>
          </div>
          <div class="row100">
            <div class="inputBox">
              <span>Message</span>
              <textarea
                type="text"
                placeholder="write your message here..."
              ></textarea>
            </div>
          </div>
          <div class="row100">
            <div class="inputBox">
              <input type="submit" value="Send" />
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="contact info">
      <h1>Contact Info</h1>
      <div class="infoBox">
        <div>
          <span><mat-icon> mail_outline</mat-icon></span>
          <p>xyz</p>
        </div>

        <div>
          <span><mat-icon> location_on</mat-icon></span>
          <p>xyz</p>
        </div>
        <div>
          <span><mat-icon> call</mat-icon></span>
          <p>xyz</p>
        </div>
        social links
        <ul class="sci">
          <li>
            <a href="#"><mat-icon> call</mat-icon></a>
          </li>
          <li>
            <a href="#"><mat-icon> call</mat-icon></a>
          </li>
          <li>
            <a href="#"><mat-icon> call</mat-icon></a>
          </li>
          <li>
            <a href="#"><mat-icon> call</mat-icon></a>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="contact map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14160486.908893267!2d58.348907551857494!3d29.946360183609812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38db52d2f8fd751f%3A0x46b7a1f7e614925c!2sPakistan!5e0!3m2!1sen!2snl!4v1693235373822!5m2!1sen!2snl"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
