<div class="containerr">
  <div class="slide-container active">
    <div class="slide">
      <div class="content">
        <h3>video slider 01</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <a href="#" class="btn">learn more</a>
      </div>
      <video
        src="/src/app/widgets/assets/slider-video.mp4"
        muted
        autoplay
        loop
      ></video>
    </div>
  </div>

  <div id="next">></div>
  <div id="prev"><</div>
</div>
